<div>
  <p>コメント件数: <%= book.book_comments.count%></p>
  <% book.book_comments.each do |book_comment| %>
    <%= image_tag book_comment.user.get_profile_image(100, 100) %>
    <%= book_comment.user.name%>
    <%= book_comment.created_at.strftime('%Y/%m/%d')%> <%= book_comment.comment %>

    <% if book_comment.user == current_user%>
      <%= link_to "削除", book_book_comment_path(book, book_comment), method: :delete, remote:true, data: {"turbolinks" => false} %>
    <% end %>
  <% end %>
</div>

<div>
  <%#= form_with model: [book, book_comment] do |f|%>
   <%= form_with model: [book, book_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに"%>
    <%= f.submit "送信する"%>
  <% end %>
</div>